<section class="panel">
  <h1>Frequently Asked Questions (FAQs)</h1>

  <h3 class="question">Why is the analysis so slow?</h3>
  <h3 class="answer">The program runs on a shared virtual server, with limited memory and CPU.
    Upgrading the server would improve performance, but would be rather expensive for me.
  </h3>
  <h3 class="question">How can I contribute?</h3>
  <h3 class="answer">
    The application is open source and available on <a href="https://github.com/james-mcdonald/bridge-hand-analysis" target="_blank">GitHub</a>.
    If you have any suggestions or improvements, please feel free to open an issue or pull request.
  </h3>
<h3 class="question">What's the technical background of this application?</h3>
<h3 class="answer">The application is built using Angular and TypeScript, with a backend API written in Java with Spring Boot, using JNA to wrap
  the native C++ library.
  The frontend is served by a static file server, and the backend API is hosted on a shared virtual server.
</h3>
</section>
