<section class="panel">
  <h1>Links</h1>
  <h3>These are some bridge-related sites I personally find useful and interesting</h3>
  <ul class="links-list">
    <li><a href="https://www.bridgeworld.com/" target="_blank">The Bridge World</a></li>
    <li><a href="https://www.bridge-verband.de/" target="_blank">The German Bridge League (Deutscher Bridge Verband e.V.)</a></li>
    <li><a href="https://bridge.esmarkkappel.dk/main/main.html" target="_blank">Bridge CC Analyzer</a></li>
    <li><a href="https://www.bridge-im-lehel.de/" target="_blank">Bridge Club München-Lehel e.V.</a></li>
    <li><a href="https://www.bridgeclub-muenchen.de/" target="_blank">Bridge Club München e.V.</a></li>
    <li><a href="https://bridgedomizil.de/" target="_blank">Bridge Domizil München e.V.</a></li>
    <li><a href="https://bridgewinners.com/" target="_blank">Bridge Winners</a></li>
    <li><a href="https://www.larryco.com/" target="_blank">Larry Cohen</a></li>
    <li><a href="https://www.rpbridge.net/8j19.htm" target="_blank">Explanation of Kaplan-Rubens hand evaluation algorithm</a></li>
    <li><a href="https://www.bridgewebs.com/unit191brightleaf/Cloudsdale-%20Bergen%20Hand%20evaluation%20part%201.pdf">Explanation of Bergen hand evaluation algorithm</a></li>
  </ul>


</section>
