<section class="panel">
  <h1>Links</h1>
  <h3>These are some bridge-related sites I personally find useful and interesting</h3>
  <ul class="links-list">
    <li><a href="https://www.bridgeworld.com/">The Bridge World</a></li>
    <li><a href="https://www.bridge-verband.de/">The German Bridge League (Deutscher Bridge Verband e.V.)</a></li>
    <li><a href="https://bridge.esmarkkappel.dk/main/main.html">Bridge CC Analyzer</a></li>
    <li><a href="https://www.bridge-im-lehel.de/">Bridge Club München-Lehel e.V.</a></li>
    <li><a href="https://www.bridgeclub-muenchen.de/">Bridge Club München e.V.</a></li>
    <li><a href="https://bridgedomizil.de/">Bridge Domizil München e.V.</a></li>
    <li><a href="https://bridgewinners.com/">Bridge Winners</a></li>
    <li><a href="https://www.larryco.com/">Larry Cohen</a></li>
  </ul>


</section>
